* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f2f5;
}

.main {
  width: 40%;
  margin-left: 20%;
  margin-top: 10%;
  padding: 20px;
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background: #fff;
  border-bottom: 2px solid #f1f2f5;
  padding-top: 20px;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-top: 20px;
  background: #fff;
  border-bottom: 2px solid #f1f2f5;
}

#new-list {
  border: none;
  width: 100%;
  margin-bottom: 12px;
}

.todo-input button {
  background: blueviolet;
  cursor: pointer;
}

.todo {
  display: flex;
  margin-top: 30px;
  min-height: 40px;
  border-bottom: 2px solid #f1f2f5;
  background: #fff;
  padding-top: 20px;
}

.check-box {
  margin-top: -25px;
}

.list-element {
  margin-left: 30px;
  width: 80%;
}

.fa-regular {
  margin-right: 20px;
}

.clear-completed {
  height: 50px;
  background: hsl(0, 29%, 97%);
  margin-top: 20px;
}

.clear-completed p {
  margin-left: 40%;
  padding-top: 20px;
  cursor: pointer;
}

.chech-box {
  margin-top: -25px;
}
